<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero1.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,120},{94,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,134}}</string>
                <key>sourceSize</key>
                <string>{94,134}</string>
            </dict>
            <key>hero2.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,98},{94,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,134}}</string>
                <key>sourceSize</key>
                <string>{94,134}</string>
            </dict>
            <key>hero3.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,98},{94,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,134}}</string>
                <key>sourceSize</key>
                <string>{94,134}</string>
            </dict>
            <key>hero4.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{94,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,134}}</string>
                <key>sourceSize</key>
                <string>{94,134}</string>
            </dict>
            <key>hero5.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{94,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,134}}</string>
                <key>sourceSize</key>
                <string>{94,134}</string>
            </dict>
            <key>snake1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,194},{48,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,70}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>snake2.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,194},{42,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,74}}</string>
                <key>sourceSize</key>
                <string>{42,74}</string>
            </dict>
            <key>ui_bjd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{488,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,41}}</string>
                <key>sourceSize</key>
                <string>{488,41}</string>
            </dict>
            <key>ui_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>ui_fjd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{488,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,41}}</string>
                <key>sourceSize</key>
                <string>{488,41}</string>
            </dict>
            <key>ui_obstacle.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,194},{50,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,58}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>ui_retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,88},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>ui_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,88},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>ui_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>images.pvr.ccz</string>
            <key>size</key>
            <string>{882,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03cb3270a1f55e4abd56f911ba5bf4ed:1/1$</string>
            <key>textureFileName</key>
            <string>images.pvr.ccz</string>
        </dict>
    </dict>
</plist>
